/* Your styles should be mobile-first and responsive */
* {
  box-sizing: border-box;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #0c703e, #42a0f1);
  }


.mainPage {
  max-width: 600px;
  margin: 20px 50px;
  border: 1px solid grey;
  justify-content: center;
  padding: 20px;

}

.question {
  display: block;
  color: grey;

}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@media all and (min-width: 800px) {
  .mainPage {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}