/* Your styles should be mobile-first and responsive */
@font-face {
  font-family: CenturyStd-BookCondensed;
  src: url('fonts/CenturyStd-BookCondensed.otf');
}
@font-face {
  font-family: LithosPro-Black;
  src: url('fonts/LithosPro-Black.otf')
}

* {
  box-sizing: border-box;
  font-family: LithosPro-Black;
}

h1 {
  font-family: CenturyStd-BookCondensed;
  font-size: 60px;
  margin-bottom: 0;
  padding: 5px;
  color: #ffff3e;
}

h2 {
  margin: 20px;
}

body {
  text-align: center;
  background-image: linear-gradient(to bottom, #10105f 40%, #fff);
  background-repeat: no-repeat;
  font-size: 75%;
  color: #fff;
}  

.mainPage {
  max-width: 600px;
  margin: 20px 25px 0px 25px;
  border: 1px solid #808080;
  justify-content: center;
  padding: 20px 0px;
  background-color: #083a08;
  border-radius: 10px;
  box-shadow: 2px 2px #888888;

}

img {
  width: 175px;
  margin: auto;
  border-radius: 10px;
}

.button {
  font-family: LithosPro-Black;
  font-size: 80%;
  padding: 5px;
  display: inline-block;
  background-color: #8d0d0d;
  color: #ffffff;
  text-decoration: none;
}

.questionButton {
  display: inline-block;
  text-align: center;
}

.answerChoices {
  text-align: left;
  display: inline-block;
  padding-bottom: 10px;
}

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@media all and (min-width: 800px) {
  h1 {
    font-size: 80px;
  }
  .mainPage {
    justify-content: center;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-size: 12px;
  }

  img {
    width: 400px;
  }

  .questionButton {
    display: inline-block;
  }

  .button {
    font-size: 12px;
  }

  .button:hover {
    color: #ffffff;
  }
}